

/* Responsive

-------------------------------------------------- */



/* Desktop large

------------------------- */

.align-center{display: block;margin:0px auto;}

.boxed { padding:0 3%;}

.boxed .navbar-fixed-top{ position:static;}

.boxed #main{-webkit-box-shadow: 0 0px 6px rgba(0,0,0,0.07);-moz-box-shadow: 0 0px 6px rgba(0,0,0,0.07);box-shadow: 0 0px 6px rgba(0,0,0,0.07);border: 1px solid #E1E1E1;border-color: rgba(0,0,0,.07);-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;-moz-background-clip: padding;-webkit-background-clip: padding;background-clip: padding-box; padding-top:0px; margin-top:20px;}.m30{ margin-bottom:30px;}.blog-posts-detail-item{ position:relative;}

#myModal .close {	position:absolute;	top:20px;right:20px;	z-index:9999;}

.bride-groom-profile .box-desc { margin-bottom:15px;}

.gallery-list1 .featured-img-block {border:2px solid #8EAA42 !important; }
.guest-book-row p { text-align:center;}


@media (min-width: 1200px) {



.ml20{ margin-left:27px !important;}

.ml21{ margin-left:20px !important;}

.modal{	width:1000px;	left:35%;}

}

@media (max-width: 1200px) {

  #main .navbar-inverse .navbar-inner li a{padding: 10px; font-size: 12px;}

.ceremony-page-location-container-left > span span{font-size: 12px;}

.our-story{width: 100%;}

.modal { width:850px;left:35%;}

.modal-body{min-height:540px;padding:30px;}

.featured-img-block{ width:250px;}

.ml20{ margin-left:20px !important;}

.ml21{ margin-left:20px !important;}

#main{padding-top: 40px;}



}

/* Desktop

------------------------- */

@media (max-width: 980px) {

  .bride-groom-profile .bride-groom-and-sign img{width: 8.54700854701%}

  h2{font-size: 30px !important; margin: 10px 0px 20px !important}

h3{font-size: 24px !important; margin: 10px 0px 20px !important}

h4{font-size: 18px !important}

h5{}

.bride-groom-photos .bride-groom-photo span{font-size: 18px}

.ceremony-page-location-container-left, .ceremony-page-location-container-right{float: none !important;width: auto !important;}

#main{padding-top: 0px;}

h1, h2, h3{line-height: 1.4;}

#page-title-blog .page-title-cover{position: relative;}

#page-title-blog .page-title-cover h1{padding: 20px 0px;margin: 0px;}

#page-title-blog ul a, .gallery-nav ul li a{font-size: 12px;}

.guest-book-row{margin-top: 0px; padding-top: 0px;}

.post-comments-link {margin-top: 15px;}

.blog-posts-list-item{ padding-bottom: 15px;padding-top: 15px;margin-top: 5px;}

#page-title-blog ul, .gallery-nav ul{margin-bottom: 0px; padding-bottom: 0px;}

.blog-single-navigation .pull-left,

.blog-single-navigation .pull-right{background:none; padding: 10px; font-size: 12px;}





.our-story-item{float: right;width: 100%;}

.our-story-item .our-story-item-content{margin-left: 28px !important;margin-right: 0px;border-radius:0px 0px 5px 5px;}

.our-story-item .our-story-date{border-radius:5px 5px 0px 0px; text-align:right;padding:10px 10px 0px 5.436893203%; font-size:13px;margin-left: 28px;left: auto !important;right: auto !important;width: auto;display: block; position: relative; }

.our-story-item .story-arrow{left: 15px;background: url(images/story-arrow.png) no-repeat left center;}

.our-story-item .our-story-item-content-img{right: -50px;left: auto;}

.our-story-item .our-story-item-content-entry{padding-right: 130px;padding-left: 0px;}

.cancel-line{position: absolute;width:10px; background: #fff;left:-5px;top:35px; bottom: 0px;}

.our-story .story-line{left: 0px;}

.story-point{margin-left: -9px;}

.modal { width:700px;left:40%;}

.modal-body{min-height:540px;padding:20px;}

.featured-img-block{ width:250px;}

.gallery-list1{ margin-top:20px;}

.ml20{ margin-left:20px !important;}

#main{ padding-top:0px;}



  }

/* Tablet to desktop

------------------------- */

@media (min-width: 768px) and (max-width: 979px) {

.jump-width-980{width: 100% !important; float: none;}

  .bride-groom-profile .bride-groom-and-sign img{width: 5%}

  .featured-img-block{ width:200px;}

  .ml20{ margin-left:20px !important;}

  #main{ padding-top:0px;}



}

/* Tablet

------------------------- */

@media (max-width: 767px) {

body{font-size: 12px;}

h1{font-size: 40px !important;}

h2{font-size: 22px !important; margin: 10px 0px !important}

h3{font-size: 20px !important; margin: 0px 0px 10px !important}

h4{font-size: 18px !important; margin: 0px 0px 10px !important}

h5{}

#page-title .page-title-cover{position: relative;}

#page-title .page-title-cover h1{display: block;padding:20px 10px;}

.countdown-wrap strong{font-size: 10px;}

.bride-groom-photos .bride-groom-photo span{font-size: 16px}

  .bride-groom-profile .bride-groom-and-sign img{display: none;}

    .bride-groom-photos .bride-groom-photo{top: 20px;margin-bottom: 0px;}

    .bride-groom-photos .bride-groom-photo img{border-width:5px;}

    .bride-groom-and-sign{width: 10%; padding-top:50px;}

    .about-bride-groom-photos .bride-groom-and-sign{top:0px;}



  .navbar-fixed-top{

    margin-bottom: 0px;

    margin-left: 0px; 

    margin-right: 0px;

  }

body{

  padding-left: 0px; 

  padding-right: 0px;

}

.container{

  padding: 0px 20px;

}

.wrap, .color-wrap, .gray-wrap{padding: 15px 0px;}

.resp-center{text-align: center;}

.resp-center img{display: block;margin: 0px auto}

.resp-spacer{margin-bottom: 20px;}

.resp-max-width{max-width: 480px;margin: 0px auto !important; float: none !important;}

.gift-category-row{padding: 0px; border: 0px;}

.row-fluid .controls-row [class*="span"] + [class*="span"]{margin-left: 0px;}

.gift-category-row .span4{padding: 0px;}

.gift-category-row ul li a{display: inline-block;*display:inline;}

.gift-category-row ul li.inactive a{padding: 5px 20px 5px 0px;}

.blog-navigation .pull-left, 

.blog-navigation .pull-right{padding:10px 20px;}

.blog-navigation .blog-pagination{display: none;} 

.blog-posts-list-item img{margin: 0px auto; float: none;display: block;}

.our-story-item-content-img{position: relative !important;top: 0; left:0 !important; right: auto !important; margin: 0 !important;width: 100%; text-align: center;}

.our-story-item .our-story-item-content-entry{padding: 0px !important;}

.modal { width:auto;left:5%;}

.modal-body{min-height:540px;padding:20px;}

.ml20{ margin-left:0px !important;}

.ml21{ margin-left:0px !important;}

}

/* Landscape phones

------------------------- */

@media (max-width: 480px) {

  h1{font-size: 20px !important;}

h2{font-size: 18px !important; margin: 10px 0px !important}

h3{font-size: 16px !important; margin: 0px 0px 10px !important}

h4{font-size: 14px !important; margin: 0px 0px 10px !important}

h5{}

    .bride-groom-photo{width: 46%;}

    .bride-groom-and-sign{width: 5%;}



    .bride-groom-photo img{border-width:3px;}

    .countdown-container{max-width: 400px;}

    .countdown-box{height: 50px;line-height: 50px;font-size: 30px;}

    .location-box .pull-left,

    .location-box .pull-right{float: none;text-align: center;margin-top: 10px;display: inline-block;padding-left: 30px !important;}

	.modal { width:auto;left:5%;}

.ml20{ margin-left:0px !important;}

.ml21{ margin-left:0px !important;}

}



@media (max-width: 320px) {

    .countdown-container{max-width: 300px;}

    .countdown-box{height: 50px;line-height: 50px;font-size: 30px;}

	.ml20{ margin-left:0px !important;}

}















 @media (max-width: 1200px) {

  .home-gallery-slider {max-width:840px;}

  

  }

  @media (max-width: 860px) {

  .home-gallery-slider {max-width:560px;}

  

  }

  @media (max-width: 600px) {

  .home-gallery-slider {max-width:280px;}

  #main{ padding-top:0px;}

  .countdown-box{height: 50px;line-height: 50px;font-size: 30px;}

  }

